<%= form_for([@post, @post.comments.build]) do |f| %>
	<p>
		<%= f.label :username %>
		<%= f.text_field :commenter %>
	</p>
	<p>
		<%= f.label :comment %>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit "Submit Comment"%>
	</p>
<% end %>